
body {
    display: flex;
}

.left {

        height: 100vh;
        width: 30vw;
        background-image: url("/photo-1585202900225-6d3ac20a6962.avif");
        
        
        .black-box {
            
            min-width: 100%;
            height: 20vh;
            background-color: rgba(0, 0, 0, 0.568);
            margin-top: 30%;
        }

}
.right {    

    
       
        height: 90vh;
        width: 70vw;
        background-color: rgba(249,250,251,255);
        padding-top: 10vh;
        
        

        .dummy-text {
        
        
        word-break: break-all;
        max-width: 40vw;
        font-size: 24px;
        line-height: 26px;
        margin-left: 38px;
        margin-bottom: 20px;
      
    }

        .dummy-text-2 {

            max-width: 25px;
            word-break: break-all;
            max-width: 51vw;
            font-size: 24px;
            line-height: 2.5rem;
            margin-left: 38px;
            margin-bottom: 40px;

        }

        .form-holder {
            border: 2px green solid;
            min-width: 98%;
            
            min-height: 20vw;
            max-height: 20vw;
            background-color: white;

            form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                gap: 25px 0px;
                padding-left: 35px;
                padding-right: 35px;
                padding-top: 30px;

                span {
                    
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr;
                    
                    
                }

                input {
                    
                    min-height: 30px;
                    max-width: 300px;
                    margin-top: -8px;

                }

               

            }
             h1 {
                    max-width: 25px;
                    word-break: break-all;
                    max-width: 51vw;
                    font-size: 24px;
                    margin-bottom: -5px;
                    margin-left: 38px;
                    margin-top: 18px;
                }
            

        }
        

            .button {
            margin-top: 15px;
            margin-left: 37px;   
            min-width: 40px;
            min-height: 20px;
            background-color: blue;

        }
        p{
            margin-left: 37px;
            margin-top: 15px;
        }

    
    

}
